<!DOCTYPE html>
<html>
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<body ng-app="myApp" ng-controller="myController as myCtrl">
    <menu id="menu_bar">
        <li><a id="nav_login" href="" ng-click="showLogin()">Login</a></li>
        <li><a id="nav_poi_search" href="" ng-click="showSearch()">Search</a></li>
        <li><a id="nav_register" href="" ng-click="showRegister()">Register</a></li>
    </menu>
    <div id="login" ng-hide="myCtrl.loginDiv">
        <form ng-submit="myCtrl.loginCheck()">
            <label>Username:</label> <input id="login_username" type="text">
            <label>Password:</label> <input id="login_pw" type="text">
            <input type="Submit" value="Login">
            <a ng-click="myCtrl.showRestorePW" id="nav_restore_pw" href="">Restore Password</a>
            <a ng-click="myCtrl.showRegister" href="">Register</a>

        </form>
    </div>
    <div id="register" ng-hide='myCtrl.registerDiv'>
        Register DIV
    </div>
    <div id="restore_pw" ng-hide='myCtrl.restorePWDiv'>
        Restore PW DIV
    </div>
    <div id="poi_search" ng-hide='myCtrl.searchDiv'>
        poi search DIV
    </div>
    <script src="script.js"></script>

</body>
</html>