<!DOCTYPE html>
<html>
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<body ng-app="myApp" ng-controller="myController as myCtrl">
    <menu id="menu_bar">
        <li><a id="nav_login" href="" ng-click="showLogin()">Login</a></li>
        <li><a id="nav_poi_search" href="" ng-click="showSearch()">Search</a></li>
        <li ng-show='registerNav' ng-init="registerNav=true"><a id="nav_register" href="" ng-click="showRegister()">Register</a></li>
        <li ng-show='favoritesNav' ng-init="favoritesNav=false"><a id="nav_favorites" href="" ng-click="showFavorites()">Favorites: {{numOfFavorites}}</a></li>
        <label ng-model="user_label">Hello {{user_label}}</label>
    </menu>
    <div id="login" ng-show='loginDiv' ng-init="loginDiv=true">
        <form ng-submit="loginCheck()">
            <label>Username:</label> <input id="login_username" type="text" ng-model="login_username">
            <label>Password:</label> <input id="login_pw" type="password" ng-model="login_pw">
            <input type="Submit" value="Login">
            <a ng-click="showRestorePW()" id="nav_restore_pw" href="">Restore Password</a>
            <a ng-click="showRegister()" href="">Register</a>
        </form>
    </div>
    <div id="register" ng-controller="myController" ng-show='registerDiv'>
        <form ng-submit="register()">
            <label>Username:</label> <input id="register_username" type="text" ng-model="register_username">
            <br>
            <label>Password:</label> <input id="register_password" type="password" ng-model="register_password">
            <br>
            <label>First Name:</label> <input id="register_fname" type="text" ng-model="register_fname">
            <br>
            <label>Last Name:</label> <input id="register_lname" type="text" ng-model="register_lname">
            <br>
            <label>City:</label> <input id="register_city" type="text" ng-model="register_city">
            <br>
            <!-- NEED TO ADD COUNTRY DROP DOWN MENU-->
            <label>Country:
                <select id="register_country"  ng-model="register_country">
                    <option value="australia">Australia</option>
                    <option value="bolivia">Bolivia</option>
                    <option value="china">China</option>
                    <option value="denmark">Denmark</option>
                    <option value="israel">Israel</option>
                    <option value="latvia">Latvia</option>
                    <option value="monaco">Monaco</option>
                    <option value="norway">Norway</option>
                    <option value="panama">Panama</option>
                    <option value="switzerland">Switzerland</option>
                    <option value="usa">USA</option>
                </select>
            </label>
            <br>
            <label>Email:</label> <input id="register_email" type="email" ng-model="register_email">
            <br>
            <!--  NEED TO ADD 2 POIS THAT USER IS INTERESTED IN-->
            <label>Interests:
                <select id="categories" ng-model="register_category">
                    <option value="Historical Sites">Historical Sites</option>
                    <option value="Hotels and Hostels">Hotels and Hostels</option>
                    <option value="Nature">Nature</option>
                    <option value="Restaurants">Restaurants</option>
                </select>
            </label>
            <br>
            <label>Question 1:</label> <input id="register_q1" type="text" ng-model="register_q1">
            <br>
            <label>Answer 1:</label> <input id="register_a1" type="text" ng-model="register_a1">
            <br>
            <label>Question 2:</label> <input id="register_q2" type="text" ng-model="register_q2">
            <br>
            <label>Answer 2:</label> <input id="register_a2" type="text" ng-model="register_a2">
            <br>
            <input type="Submit">
        </form>
    </div>
    <div id="restore_pw" ng-show='restorePWDiv'>
        <form>
            <label>Username:</label> <input id="restore_pw_username" type="text" ng-model="restore_pw_username">
            <button ng-click="getSecurityQuestions()">Show Security Questions</button>
            <br>
            <label>Question #1: {{restore_pw_q}}</label> <input id="restore_pw_a1" type="text" ng-model="restore_pw_a" placeholder="Anser #1">
            <br>
            <button ng-click="restorePassword()">Restore Password</button>
            <br>
            <label ng-model="restore_pw_password">Password: {{restore_pw_password}}</label>
        </form>
    </div>
    <div id="poi_search" ng-show='searchDiv'>
        <table id="loggedInUserPoisTable" border=0 width="1000px" ng-show="showLoggedInPoiTable" ng-init="showLoggedInPoiTable=false">
            <tr>
                <td colspan="2" align="center">Popular Points of Interests</td>
                <td colspan="2" align="center">Favorite Points of Interests
                <br>
                    <label ng-show="showNoFavoritesMessage" ng-init="showNoFavoritesMessage=true">No favorites to show.</label>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <label ng-model="loggedInUserPopularLbl1">{{loggedInUserPopularLbl1}}</label>
                    <br>
                    <img src="{{loggedInUserPopularImg1}}" width="150" height="150">

                </td>
                <td align="center">
                    <label ng-model="loggedInUserPopularLbl2">{{loggedInUserPopularLbl2}}</label>
                    <br>
                    <img src="{{loggedInUserPopularImg2}}" width="150" height="150">
                </td>
                <td align="center">
                    <label ng-model="loggedInUserFavoriteLbl1">{{loggedInUserFavoriteLbl1}}</label>
                    <br>
                    <img src="{{loggedInUserFavoriteImg1}}" width="150" height="150">
                </td>
                <td align="center">
                    <label ng-model="loggedInUserFavoriteLbl2">{{loggedInUserFavoriteLbl2}}</label>
                    <br>
                    <img src="{{loggedInUserFavoriteImg2}}" width="150" height="150">
                </td>
            </tr>
        </table>        <button ng-click="authentication()">button</button>
    </div>
    <div id="random_pois"></div>
        <table id="poiTable" border=1 width=100px>
            <tbody>
                <tr>
                    <td>
                        <label ng-model="first_poi_home">{{first_poi_home}}</label>
                    </td>
                    <td>
                        <label ng-model="second_poi_home">{{second_poi_home}}</label>
                    </td>
                    <td>
                        <label ng-model="third_poi_home">{{third_poi_home}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{first_poi_image}}" width="300" height="300">
                    </td>
                    <td>
                        <img src={{second_poi_image}} width="300" height="300">
                    </td>
                    <td>
                        <img src={{third_poi_image}} width="300" height="300">
                    </td>
                </tr>
            </tbody>
        </table>
    <script src="script.js"></script>

</body>
</html>